
  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400&family=Climate+Crisis&family=Josefin+Sans:wght@500&family=Libre+Baskerville:wght@700&family=Roboto+Slab:wght@300;600&family=Roboto:wght@400;900&family=Tilt+Warp&family=Ubuntu:wght@300&display=swap');



:root {
    --color-white: #f5f5f5;
    --color-dark: #000000;
    --color-orange: #74b9ff;
    --color-brown: rgba(255, 255, 255, 0.2);
    --color-whitesmoke: rgb(169, 163, 163);

    --background: var(--color-white);
    --foreground: var(--color-dark);
    --animate: var(--color-whitesmoke);
}




/* dark more  */

[data-theme="dark"] {
    --color-white: #f5f5f5;
    --color-dark: #000000;
    --color-orange: #74b9ff;
    --color-brown: rgba(255, 255, 255, 0.2);
    --color-whitesmoke: rgb(169, 163, 163);


    --background: var(--color-dark);
    --foreground: var(--color-white);
    --animate: var(--color-brown);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Bricolage Grotesque', sans-serif; */
}





/* 
section {
    max-width: 10000px;
    margin: 30px;
} */


.btn {
    padding: 8px 10px 8px 10px;
    border: none;
    color: white;
    background-color: #4a9ff4;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #74b9ff;
}