

.work-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    padding: 40px 40px 60px 40px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.work-container h1 {
    font-size: 36px;
    color: var(--foreground);    
}

.sub-work-container  {
    /* border: 2px solid blue; */
    width: 60%;
    border-left: 2px solid var(--foreground);
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--foreground);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.sub-work-container-right  {
    /* border: 2px solid blue; */
    width:60%;
    border-right: 2px solid var(--foreground);
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 20px;
    color: var(--foreground);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.sub-work-container h3 {
    font-size: 22px;
}

.sub-work-container h5 {
    font-size: 18px;
    color: #2675c4;
}

.sub-work-container ul  li{
    padding: 2px 0px 2px 0px;
    list-style: none;
}


.sub-work-container-right h3 {
    font-size: 22px;
}

.sub-work-container-right h5 {
    font-size: 18px;
    color: #2675c4;
}

.sub-work-container-right ul  li{
    padding: 2px 0px 2px 0px;
    list-style: none;
}


.sde-heading {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
    gap: 8px; 
}

.sde-heading span {
    margin-left: 8px; 
}

.sde-heading-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    gap: 8px; 
}

.sde-heading-1 span {
    margin-left: 8px; 
}

@media (max-width: 600px) {
    .sde-heading {
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
        justify-content: flex-end; 

    }

    .sde-heading span {
        margin-left: 0;
    }

    .sde-heading-1 {
        flex-direction: column;
        gap: 4px;
    }

    .sde-heading-1 span {
        margin-left: 0;
    }
}




@media screen and (max-width: 600px) {

    .work-container {
    padding: 40px 30px 60px 30px;

    }
  }


  @media screen and (max-width: 1200px) {

    .work-container {
    padding: 40px 30px 60px 30px;

    }

    .sub-work-container-right {
        width: 100%;
    }

    .sub-work-container {
        width: 100%;
    }
  }